@mixin margin_25 {
    margin-right: 25px;
    margin-left: 25px;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin flexbox-center {
    display: flex;
    justify-content: center;

}

@mixin button($width:218px) {
    width: $width;
    font-family: "roboto", sans-serif;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
    color: white;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    //margin-bottom: 35px;
   // margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

@mixin animated-heart {
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    font-weight: 300;
    color: inherit;

    border: 2px solid transparent;


    &:hover {
        background: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent !important;
        display: inline-block;
        font-weight: 900;
        animation: heart 0.3s ease-in-out;

    }

}