body {
  font-family: "roboto";
  margin: 0%;
}

.logo__home {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
  padding-top: 23px;
}
.header__menu .fa-solid {
  font-size: x-large;
  position: absolute;
  left: 25px;
  color: #353535;
}
.header__menu .logo {
  width: 197px;
  height: 36px;
}

.place {
  display: flex;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 0px;
  align-items: center;
  font-weight: 500;
  color: rgb(53, 53, 53);
}
.place .fa-solid {
  padding-right: 8px;
}

.section__one {
  background-color: rgb(243, 243, 243);
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.section__one h1 {
  padding-top: 20px;
  text-align: center;
  margin-right: 25px;
  margin-left: 25px;
}
.section__one p {
  text-align: center;
  font-weight: 300;
  margin-right: 25px;
  margin-left: 25px;
}
.section__one button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 2px;
  margin-bottom: 35px;
  margin-top: 15px;
  font-weight: 550;
}

.Fonctionnement {
  margin-bottom: 35px;
}
.Fonctionnement h2 {
  margin-left: 10px;
}
.Fonctionnement .fa-solid {
  color: grey;
  padding-right: 8px;
}
.Fonctionnement .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Fonctionnement .cards .card {
  width: 322.49px;
  height: 72.38px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
  margin: 12px;
}
.Fonctionnement .cards .card p {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-weight: 500;
}

.Restaurants {
  background-color: rgb(243, 243, 243);
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
}
.Restaurants h2 {
  margin-left: 10px;
}
.Restaurants .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Restaurants .card {
  width: 98%;
  height: 251px;
  background-color: white;
  margin-bottom: 25px;
  border-radius: 15px;
}
.Restaurants .cards img {
  width: 100%;
  height: 75%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Restaurants h3 {
  margin-top: 6px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.Restaurants .cards p {
  padding-left: 10px;
  margin: 0%;
}

.photo__restaurant {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
}

.menu .card {
  background-color: #F6F6F6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  width: 100%;
  margin-top: -70px;
  position: relative;
}
.menu .card h1 {
  font-family: "shrinkhand-regular";
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  margin: 15px;
  padding-top: 15px;
}
.menu .card .fa-regular {
  padding-left: 20px;
  font-weight: 100;
}
.menu .cards__menu {
  display: flex;
  flex-direction: column;
}
.menu .cards__menu h2 {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-left: 15px;
  display: inline-block;
  border-bottom: #99E2D0 3px solid;
  width: 40px;
  padding-bottom: 5px;
}
.menu .card__menu {
  background-color: white;
  border-radius: 15px;
  height: 69px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.menu .card__menu h3 {
  margin: 0%;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding-left: 15px;
  padding-top: 10px;
}
.menu .card__menu p {
  margin: 0%;
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-left: 15px;
  padding-top: 8px;
}
.menu .card__menu .price__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.menu .card__menu .price {
  margin-right: 13px;
  margin-top: 8px;
  font-weight: 500;
}
.menu .card__menu .card__hover {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  height: 200px;
  background-color: #ff6600;
  transition: width 0.3s ease-out;
}
.menu .card__menu:hover .card__hover {
  right: 0;
  width: 70px;
}

.menu__boutton {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  padding-top: 15px;
  padding-bottom: 15px;
}
.menu__boutton button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 2px;
  margin-bottom: 35px;
  margin-top: 15px;
  font-weight: 550;
}

footer {
  background-color: #353535;
  color: white;
  padding-bottom: 25px;
}
footer img {
  filter: invert(1);
  width: 25%;
  padding-top: 25px;
  padding-left: 25px;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: small;
  padding-left: 25px;
}
footer .fa-solid {
  padding-right: 8px;
}

footer__menu {
  background-color: #353535;
  color: white;
  padding-bottom: 25px;
  position: absolute;
}
footer__menu img {
  filter: invert(1);
  width: 25%;
  padding-top: 25px;
  padding-left: 25px;
}
footer__menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: small;
  padding-left: 25px;
}
footer__menu .fa-solid {
  padding-right: 8px;
}/*# sourceMappingURL=style.css.map */