@import "mixins";


//* VARIABLE //*

$grey-brackground: #F6F6F6;
$green-color: #99E2D0;


//* KEYFRAMES //*

@keyframes heart {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes heart2 {
    0% {
        opacity: 0;
        scale:0; 
    }

    100% {
        opacity: 1;
        scale:1;
    }
}


@keyframes wave {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-55px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

//* ANIMATIONS //*

.animation_menu {
    display: inline;

    .M1 {
        opacity: 0;
        animation: fadeInUp 0.8s ease-out forwards;
        animation-delay: 0.4s;
    }

    .M2 {
        opacity: 0;
        animation: fadeInUp 0.8s ease-out forwards;
        animation-delay: 0.9s;
    }

    .M3 {
        opacity: 0;
        animation: fadeInUp 0.8s ease-out forwards;
        animation-delay: 1.3s;
    }

}


body {
    font-family: 'roboto';
    margin: 0%;
}


button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    z-index: 2;
    box-shadow: none;
}

button:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
}

button:hover::after {
    opacity: 1;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.4);
}



//* LOADER  //*

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: fadeOut 1s ease-in-out 2s forwards;
    font-family: "Shrikhand", sans-serif;

    span {

        padding: 20px;
        font-size: 50px;
        font-weight: 300;
        text-align: center;
        background: linear-gradient(90deg, #9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: wave 2s infinite ease-in-out;

        @media (min-width: 768px) {
            font-size: 72px;
        }
    }
}



//* HEADER //*

.homepage__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .logo {
        padding-top: 20px;
        padding-bottom: 15px;
    }


    .place {
        @include flexbox-center;
        background-color: rgba(234, 234, 234, 1);
        width: 100%;
        height: 50px;
        box-shadow:
            0 4px 4px 0 rgba(0, 0, 0, 0.25),
            inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        align-items: center;
        font-weight: 500;
        color: rgba(53, 53, 53, 1);

        .fa-solid {
            padding-right: 8px;
        }
    }
}




.menu__header {
    display: flex;
    justify-content: center;

    .fa-solid {
        font-size: medium;
        position: absolute;
        left: 15px;
        color: #353535;
        padding-top: 25px;

        @media (min-width: 1024px) {
            left:30px;
            font-size: large;
        }
    }

    .logo {
        padding-top: 20px;
        padding-bottom: 15px;

    }
}




//* MAIN //*


//* HOMEPAGE //*

.section__one {
    background-color: $grey-brackground;
    flex-direction: column;
    align-items: center;
    @include flexbox-center;
    width: 100%;

    h1 {

        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        padding: 35px 50px 0px 50px;
        margin: 0;
        font-size: 24px;

        @media (min-width: 1024px) {

            font-size: 40px;
            font-weight: 700;
        }
    }

    p {
        text-align: center;
        font-weight: 300;
        font-size: 18px;
        margin: 0%;
        padding-top: 20px;
    }


    button {
        @include button;
        margin-top: 30px;
        margin-bottom: 60px;

        @media (min-width: 1024px) {
            margin-bottom: 40px;
        }
    }

}



.Fonctionnement {
    margin-bottom: 50px;

    h2 {
        margin: 0px;
        padding-left: 20px;
        padding-top: 40px;
        padding-bottom: 25px;

        @media (min-width:768px) {
            padding-left:28px;
        }

        @media (min-width: 1024px) {
            padding-left: 140px;
        }

        @media (min-width: 1440px) {
            padding-left: 180px;
        }
    }



    .cards {
        @include column;
        align-items: center;
        gap: 15px;
        margin-left: 10px;
        margin-right: 10px;

        @media (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 35px;
        }

        .card {
            width: 90%;
            height: 72.38px;
            background-color: $grey-brackground;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
            margin: 0;
            display: flex;

            @media (min-width: 768px) {
                width:50%;
            }

            .number {
                background-color: #9356DC;
                border-radius: 50%;
                padding-top: 3px;
                width: 24px;
                height: 20px;
                color: white;
                text-align: center;
                margin-left: -10px;
                margin-top: 23px;
                margin-right: 20px;
                font-weight: 500;
                font-size: 14px;

                @media (min-width: 1024px) {
                    margin-right: 10px;
                }

                @media (min-width: 1440px) {
                    margin-right: 20px;
                }

            }

            .fa-solid {
                color: grey;
                padding-right: 25px;

                @media (min-width: 1024px) {
                    padding-right: 10px;
                }

                @media (min-width: 1440px) {
                    padding-right: 20px;
                }
            }

            @media (min-width: 1024px) {
                width: 23%;
                padding-right: 10px;
            }
        }


        .card:hover .fa-solid {
            color: #9356DC;
        }


        .card p {
            @include flexbox-center;
            margin-top: 25px;
            font-weight: 500;
        }
    }
}

.Fonctionnement:hover .fa-solid {
    color: #9356DC;
}

.Restaurants {
    background-color: $grey-brackground;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;


    h2 {
        margin: 0;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 40px;
        
        @media (min-width:768px) {
            padding-left:28px;
        }

        @media (min-width: 1024px) {
            padding-left: 140px;
        }

        @media (min-width: 1440px) {
            padding-left: 180px;
        }
    }


    .cards {
        @include column;
        align-items: center;
        gap: 20px;
        margin: 15px;

        @media (min-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            gap: 52px;
        }
    }

    .card {
        width: 98%;
        height: 251px;
        background-color: white;
        border-radius: 15px;
        position: relative;
        padding-bottom: 8px;

        @media (min-width: 1024px) {
            width: 35%;
        }

        @media (min-width: 1440px) {
            margin-right: 25px;
        }
    }

    .division {
        display: flex;
        justify-content: space-between;
        padding-right: 15px;

        .heart {
            display: inline-block;
            
            .fa-heart {
                @include animated-heart;
                cursor: pointer;
            }
        }
    }

    .Nouveau {
        position: absolute;
        right: 15px;
        top: 10px;
        display: inline-block;
        background-color: #99E2D0;
        color: #008766;
        padding: 10px 15px;
        font-size: 14px;
        border-radius: 2px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        text-align: center;
        font-weight: bold;
    }

    .cards img {
        width: 100%;
        height: 75%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }

    h3 {
        margin-top: 6px;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .cards p {
        padding-left: 10px;
        margin: 0%;
    }

}



//* PAGES MENU RESTAURANTS  //*

.photo__restaurant {
    width: 100%;
    height: 275px;
    object-fit: cover;
    display: flex;
    justify-content: center;


    @media (min-width: 1024px) {
        height: 383px;
    }

}

.menu {

    @media (min-width: 1024px) {
        display: flex;
        justify-content: center;
    }

    .card {
        background-color: $grey-brackground;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        width: 100%;
        margin-top: -50px;
        position: relative;

        @media (min-width: 1024px) {
            width: 80%;
        }





        .card__title {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 45px;

            @media (min-width: 768px) {
                display: flex;
                justify-content: center;
            }

            @media (min-width:1024px) {
                display: flex;
                justify-content: center;
                padding-top: 40px;
                padding-bottom: 20px;
            }
        }

        h1 {
            font-family: "Shrikhand", serif;
            font-weight: 400;
            margin: 0;

        }

        .heart {
            padding-left: 50px;
            padding-bottom: 5px;
            font-size: xx-large;
            display: inline-block;


            .fa-heart {
                @include animated-heart;
                cursor: pointer;
            }

        }
    }




    .cards__menu {
        display: flex;
        flex-direction: column;

        @media (min-width:1024px) {
            margin-left: 200px;
            margin-right: 200px;
            margin-bottom: 20px;
        }


        h2 {
            font-family: "roboto", sans-serif;
            font-weight: 300;
            font-size: 16px;
            margin-left: 15px;
            display: inline-block;
            border-bottom: $green-color 3px solid;
            width: 40px;
            padding-bottom: 5px;
        }
    }


    .card__menu {
        background-color: white;
        border-radius: 15px;
        height: 69px;
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
        overflow: hidden;
        transition: all 0.4s ease-in-out;


        .card__description {
            width: 100%;
            overflow: hidden;
        }


        h3 {
            margin: 0%;
            font-family: "roboto", sans-serif;
            font-weight: 500;
            font-size: 18px;
            padding-left: 15px;
            padding-top: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
        }

        p {
            margin: 0%;
            font-family: 'roboto', sans-serif;
            font-weight: 300;
            font-size: 15px;
            padding-left: 15px;
            padding-top: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
        }


        .price__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            overflow: hidden;
        }

        .price {
            margin-right: 13px;
            margin-top: 8px;
            font-weight: 500;
        }

        .card__hover {
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            overflow: hidden;
            background-color: $green-color;
            transition: width 0.3s ease-out;

            i {
                color: white;
                font-size: x-large;
                display: flex;
                justify-content: center;
                padding-top: 22px;
            }
        }


        &:hover .card__hover {
            right: 0;
            width: 70px;
        }
    }

}

.menu__boutton {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 40px;

    button {
        @include button(186px);
    }
}



//*  FOOTER  //*


footer {
    background-color: #353535;
    color: white;
    padding-bottom: 25px;

    .nav__footer {
        @include column;
        gap: 8px;

        @media (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            margin-right: 90px;
            gap: 50px;
        }

        img {
            filter: invert(1);
            width: 20%;
            padding-top: 25px;
            padding-left: 25px;
            object-fit: cover;

            @media (min-width: 1024px) {
                width: 6%;
                order: 1;
            }

        }


        .fa-solid {
            padding-right: 8px;
        }


        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-size: small;
            padding-left: 25px;

            a {
                text-decoration: none;
                color: white;
            }

            @media (min-width: 1024px) {
                display: flex;
                flex-direction: row;
                padding-top: 20px;
                gap: 20px;
            }

        }
    }
}