//* LOADER  //*

@import "mixins";

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    animation: fadeOut 1s ease-in-out 3s forwards;
    font-family: "Shrikhand", sans-serif;


    span {

        padding: 20px;
        font-size: 72px;
        font-weight: 300;
        text-align: center;
        //position: relative;
        background: linear-gradient(90deg, #9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: wave 2s infinite ease-in-out;
    }

}

// Animation des vagues 
@keyframes wave {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-55px);
    }

    100% {
        transform: translateY(0);
    }
}

// Disparition du loader
@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

body {

    font-family: 'roboto';
    margin: 0%;

}


//* HEADER //*




.logo__home {
    padding-top: 20px;
    padding-bottom: 20px;
}



.header__menu {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 15px;
    padding-top: 23px;

    .fa-solid {
        font-size: x-large;
        position: absolute;
        left: 25px;
        color: #353535;
    }

    .logo {
        width: 197px;
        height: 36px;
    }

}



.place {
    @include flexbox-center;
    background-color: rgba(234, 234, 234, 1);
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 0px;
    align-items: center;
    font-weight: 500;
    color: rgba(53, 53, 53, 1);

    .fa-solid {
        padding-right: 8px;
    }

}



//* MAIN //*

//* MIXINS //*
@keyframes heart {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@mixin animated-heart {
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    font-weight: 300;
    color: inherit;

    border: 2px solid transparent;


    &:hover {
        background: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent !important;
        display: inline-block;
        font-weight: 900;
        animation: heart 0.3s ease-in-out;

    }

}



button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    z-index: 2;
    box-shadow: none;
}

button:hover {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.4);
}

button:hover::after {
    opacity: 1;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.4);
}




//* VARIABLE //*

$grey-brackground: rgba(243, 243, 243, 1);

//* HOMEPAGE //*

.section__one {
    background-color: $grey-brackground;
    flex-direction: column;
    align-items: center;
    @include flexbox-center;
    width: 100%;

    h1 {
        padding-top: 20px;
        text-align: center;
        @include margin_25;
    }

    p {
        text-align: center;
        font-weight: 300;
        @include margin_25;
    }


    button {
        @include button;
    }
}



.Fonctionnement {
    margin-bottom: 35px;

    h2 {
        margin-left: 10px;
    }

    .fa-solid {
        color: grey;
        padding-right: 8px;

    }

    .cards {
        @include column;
        align-items: center;


        .card {
            width: 322.49px;
            height: 72.38px;
            background-color: #F6F6F6;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
            margin: 12px;
        }

        .card p {
            @include flexbox-center;
            margin-top: 25px;
            font-weight: 500;
        }
    }
}

.Restaurants {
    background-color: $grey-brackground;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;

    h2 {
        margin-left: 10px;
    }


    .cards {
        @include column;
        align-items: center;
    }

    .card {
        width: 98%;
        height: 251px;
        background-color: white;
        margin-bottom: 25px;
        border-radius: 15px;
        position: relative;
        padding-bottom: 8px;
    }

    .division {
        display: flex;
        justify-content: space-between;

        padding-right: 15px;

        .heart {
            display: inline-block;

            .fa-heart {
                @include animated-heart;
                cursor: pointer;
            }
        }
    }

    .Nouveau {
        position: absolute;
        right: 15px;
        top: 10px;
        display: inline-block;
        background-color: #99E2D0;
        color: #008766;
        padding: 10px 15px;
        font-family: shrinked, sans-serif;
        font-size: 14px;
        border-radius: 2px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        text-align: center;
        font-weight: bold;
    }

    .cards img {
        width: 100%;
        height: 75%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }

    h3 {
        margin-top: 6px;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .cards p {
        padding-left: 10px;
        margin: 0%;
    }

}

//* PAGES MENU RESTAURANTS  //*



.photo__restaurant {


    width: 100%;
    height: 275px;
    object-fit: cover;
    display: flex;
    justify-content: center;


}

.menu {

    .card {
        background-color: #F6F6F6;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        width: 100%;
        margin-top: -70px;
        position: relative;

        .animation_menu {
            display: inline;

            .M1 {
                opacity: 0;
                animation: fadeInUp 0.8s ease-out forwards;
                animation-delay: 0.4s;
            }

            .M2 {
                opacity: 0;
                animation: fadeInUp 0.8s ease-out forwards;
                animation-delay: 0.9s;
            }

            .M3 {
                opacity: 0;
                animation: fadeInUp 0.8s ease-out forwards;
                animation-delay: 1.3s;
            }

        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }


        .card__title {
            display: flex;
            padding-top: 20px;
            padding-left: 20px;
            align-items: center;
            gap: 15px;
        }

        h1 {
            font-family: "Shrikhand", serif;
            font-weight: 400;
            font-size: xx-large;
            margin: 0;

        }

        .heart {
            padding-left: 50px;
            padding-bottom: 5px;
            font-size: xx-large;
            display: inline-block;


            .fa-heart {
                @include animated-heart;
                cursor: pointer;
            }

        }
    }




    .cards__menu {
        display: flex;
        flex-direction: column;







        h2 {
            font-family: "roboto", sans-serif;
            font-weight: 300;
            font-size: 16px;
            margin-left: 15px;
            display: inline-block;
            border-bottom: #99E2D0 3px solid;
            width: 40px;
            padding-bottom: 5px;
        }


    }


    .card__menu {
        background-color: white;
        border-radius: 15px;
        height: 69px;
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        //flex-direction: column;
        justify-content: space-between;
        margin-bottom: 15px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
        overflow: hidden;
        // position: relative;
        transition: all 0.4s ease-in-out;





        .card__description {
            // display: flex;
            //flex-direction: column;
            width: 100%;
            overflow: hidden;

        }


        h3 {
            margin: 0%;
            font-family: "roboto", sans-serif;
            font-weight: 500;
            font-size: 18px;
            padding-left: 15px;
            padding-top: 10px;

            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;


        }

        p {
            // display: flex;
            margin: 0%;
            font-family: 'roboto', sans-serif;
            font-weight: 300;
            font-size: 15px;
            padding-left: 15px;
            padding-top: 8px;

            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;


        }


        .price__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            overflow: hidden;


        }

        .price {
            margin-right: 13px;
            margin-top: 8px;
            font-weight: 500;
        }

        .card__hover {
            // position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            overflow: hidden;
            background-color: #99E2D0;
            transition: width 0.3s ease-out;

            i {
                color: white;
                font-size: x-large;
                display: flex;
                justify-content: center;
                padding-top: 22px;
            }
        }


        &:hover .card__hover {
            right: 0;
            width: 70px;

        }
    }

}

.menu__boutton {
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
    padding-top: 15px;
    padding-bottom: 15px;

    button {
        @include button;

    }


}



//*  FOOTER  //*


footer {
    background-color: #353535;
    color: white;
    padding-bottom: 25px;
    // position: absolute;



    img {
        filter: invert(1);
        width: 25%;
        padding-top: 25px;
        padding-left: 25px;
    }

    ul {
        list-style: none;
        @include column;
        gap: 8px;
        font-size: small;
        padding-left: 25px;

        a {
            text-decoration: none;
            color: white;
        }
    }

    .fa-solid {
        padding-right: 8px;
    }
}


footer__menu {

    background-color: #353535;
    color: white;
    padding-bottom: 25px;
    position: absolute;



    img {
        filter: invert(1);
        width: 25%;
        padding-top: 25px;
        padding-left: 25px;
    }

    ul {
        list-style: none;
        @include column;
        gap: 8px;
        font-size: small;
        padding-left: 25px;
    }

    .fa-solid {
        padding-right: 8px;
    }
}