body {

    font-family: roboto;
    margin: 0%;

}

//* HEADER //*

@mixin flexbox-center {
    display: flex;
    justify-content: center;

}

.logo {
    @include flexbox-center;
    padding-top: 25px;
    padding-bottom: 15px;
}

.place {
    @include flexbox-center;
    background-color: rgba(234, 234, 234, 1);
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 0px;
    align-items: center;
    font-weight: 500;
    color: rgba(53, 53, 53, 1);

    .fa-solid {
        padding-right: 8px;
    }

}


//* MAIN //*

$grey-brackground: rgba(243, 243, 243, 1);

@mixin margin_25 {
    margin-right: 25px;
    margin-left: 25px;
}



.section__one {
    background-color: $grey-brackground;
    flex-direction: column;
    align-items: center;
    @include flexbox-center;
    width: 100%;

    h1 {
        padding-top: 20px;
        text-align: center;
        @include margin_25;
    }

    p {
        text-align: center;
        font-weight: 300;
        @include margin_25;
    }


    button {
        width: 218px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(#FF79DA, #9356DC);
        border: none;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 2px;
        margin-bottom: 35px;
        margin-top: 15px;
        font-weight: 550;
    }
}

@mixin column {
    display: flex;
    flex-direction: column;
}

.Fonctionnement {
    margin-bottom: 35px;

    h2 {
        margin-left: 10px;
    }

    .fa-solid {
        color: grey;
        padding-right: 8px;

    }

    .cards {
        @include column;
        align-items: center;

 
        .card {
            width: 322.49px;
            height: 72.38px;
            background-color: #F6F6F6;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
            margin: 12px;
        }

        .card p {
            @include flexbox-center;
            margin-top: 25px;
            font-weight: 500;
        }
    }
}

.Restaurants {
    background-color: $grey-brackground;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;

    h2 {
        margin-left: 10px;
    }


    .cards {
        @include column;
        align-items: center;
    }

    .card {
        width: 98%;
        height: 251px;
        background-color: white;
        margin-bottom: 25px;
        border-radius: 15px;
    }

    .cards img {
        width: 100%;
        height: 75%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
    
    h3 {
        margin-top: 6px;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    
    .cards p {
        padding-left: 10px;
        margin: 0%;
    }

}


footer {
    background-color: #353535;
    color: white;
    padding-bottom: 25px;


    img {
        filter: invert(1);
        width: 25%;
        padding-top: 25px;
        padding-left: 25px;
    }

    ul {
        list-style: none;
        @include column;
        gap: 8px;
        font-size: small;
        padding-left: 25px;
    }

    .fa-solid {
        padding-right: 8px;
    }
}