.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  animation: fadeOut 1s ease-in-out 3s forwards;
  font-family: "Shrikhand", sans-serif;
}
.loader span {
  padding: 20px;
  font-size: 72px;
  font-weight: 300;
  text-align: center;
  background: linear-gradient(90deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wave 2s infinite ease-in-out;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-55px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
body {
  font-family: "roboto";
  margin: 0%;
}

.homepage__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.homepage__header .logo {
  padding-top: 20px;
  padding-bottom: 15px;
  width: 45%;
}
.homepage__header .place {
  display: flex;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  width: 100%;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  align-items: center;
  font-weight: 500;
  color: rgb(53, 53, 53);
}
.homepage__header .place .fa-solid {
  padding-right: 8px;
}

.menu__header {
  display: flex;
  justify-content: center;
  position: relative;
}
.menu__header .fa-solid {
  font-size: medium;
  position: absolute;
  left: 15px;
  color: #353535;
  padding-top: 25px;
}
.menu__header .logo {
  padding-top: 20px;
  padding-bottom: 15px;
  width: 45%;
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  z-index: 2;
  box-shadow: none;
}

button:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.4);
}

button:hover::after {
  opacity: 1;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.4);
}

.section__one {
  background-color: rgb(243, 243, 243);
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.section__one h1 {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  padding: 35px 50px 0px 50px;
  margin: 0;
  font-size: 24px;
}
.section__one p {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  margin: 0%;
  padding-top: 20px;
}
.section__one button {
  width: 218px;
  font-family: "roboto", sans-serif;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  margin-top: 30px;
  margin-bottom: 60px;
}

.Fonctionnement {
  margin-bottom: 50px;
}
.Fonctionnement h2 {
  margin: 0px;
  padding-left: 10px;
  padding-top: 40px;
  padding-bottom: 25px;
}
.Fonctionnement .fa-solid {
  color: grey;
  padding-right: 25px;
}
.Fonctionnement .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.Fonctionnement .cards .card {
  width: 80%;
  height: 72.38px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
  margin: 0;
  display: flex;
}
.Fonctionnement .cards .card .number {
  background-color: #9356DC;
  border-radius: 50%;
  padding-top: 3px;
  width: 24px;
  height: 20px;
  color: white;
  text-align: center;
  margin-left: -10px;
  margin-top: 23px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 14px;
}
.Fonctionnement .cards .card p {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-weight: 500;
}

.Restaurants {
  background-color: rgb(243, 243, 243);
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.Restaurants h2 {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 25px;
  padding-top: 40px;
}
.Restaurants .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Restaurants .card {
  width: 98%;
  height: 251px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  padding-bottom: 8px;
}
.Restaurants .division {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.Restaurants .division .heart {
  display: inline-block;
}
.Restaurants .division .heart .fa-heart {
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  font-weight: 300;
  color: inherit;
  border: 2px solid transparent;
  cursor: pointer;
}
.Restaurants .division .heart .fa-heart:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  display: inline-block;
  font-weight: 900;
  animation: heart 0.3s ease-in-out;
}
.Restaurants .Nouveau {
  position: absolute;
  right: 15px;
  top: 10px;
  display: inline-block;
  background-color: #99E2D0;
  color: #008766;
  padding: 10px 15px;
  font-family: shrinked, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: bold;
}
.Restaurants .cards img {
  width: 100%;
  height: 75%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Restaurants h3 {
  margin-top: 6px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.Restaurants .cards p {
  padding-left: 10px;
  margin: 0%;
}

.photo__restaurant {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
}

.menu .card {
  background-color: #F6F6F6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  width: 100%;
  margin-top: -50px;
  position: relative;
}
.menu .card .animation_menu {
  display: inline;
}
.menu .card .animation_menu .M1 {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.4s;
}
.menu .card .animation_menu .M2 {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.9s;
}
.menu .card .animation_menu .M3 {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 1.3s;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .card .card__title {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 30px;
}
.menu .card h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  margin: 0;
}
.menu .card .heart {
  padding-left: 50px;
  padding-bottom: 5px;
  font-size: xx-large;
  display: inline-block;
}
.menu .card .heart .fa-heart {
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  font-weight: 300;
  color: inherit;
  border: 2px solid transparent;
  cursor: pointer;
}
.menu .card .heart .fa-heart:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent !important;
  display: inline-block;
  font-weight: 900;
  animation: heart 0.3s ease-in-out;
}
.menu .cards__menu {
  display: flex;
  flex-direction: column;
}
.menu .cards__menu h2 {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-left: 15px;
  display: inline-block;
  border-bottom: #99E2D0 3px solid;
  width: 40px;
  padding-bottom: 5px;
}
.menu .card__menu {
  background-color: white;
  border-radius: 15px;
  height: 69px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.menu .card__menu .card__description {
  width: 100%;
  overflow: hidden;
}
.menu .card__menu h3 {
  margin: 0%;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding-left: 15px;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.menu .card__menu p {
  margin: 0%;
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-left: 15px;
  padding-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.menu .card__menu .price__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
}
.menu .card__menu .price {
  margin-right: 13px;
  margin-top: 8px;
  font-weight: 500;
}
.menu .card__menu .card__hover {
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  background-color: #99E2D0;
  transition: width 0.3s ease-out;
}
.menu .card__menu .card__hover i {
  color: white;
  font-size: x-large;
  display: flex;
  justify-content: center;
  padding-top: 22px;
}
.menu .card__menu:hover .card__hover {
  right: 0;
  width: 70px;
}

.menu__boutton {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  padding-top: 25px;
  padding-bottom: 40px;
}
.menu__boutton button {
  width: 186px;
  font-family: "roboto", sans-serif;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

footer {
  background-color: #353535;
  color: white;
  padding-bottom: 25px;
}
footer img {
  filter: invert(1);
  width: 25%;
  padding-top: 25px;
  padding-left: 25px;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: small;
  padding-left: 25px;
}
footer ul a {
  text-decoration: none;
  color: white;
}
footer .fa-solid {
  padding-right: 8px;
}

footer__menu {
  background-color: #353535;
  color: white;
  padding-bottom: 25px;
  position: absolute;
}
footer__menu img {
  filter: invert(1);
  width: 25%;
  padding-top: 25px;
  padding-left: 25px;
}
footer__menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: small;
  padding-left: 25px;
}
footer__menu .fa-solid {
  padding-right: 8px;
}/*# sourceMappingURL=style.css.map */